svg{
    /* background-color: green; */
    color: #0052FF;
    fill: #0052FF;
    stroke-width: 1px;
    cursor: pointer;
    stroke: #0052FF
}
svg:hover{
    fill: transparent;
    stroke: lightgray
    
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: inherit;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body {
    margin: 15px;
}